<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shoponline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>trangchu</display-name>
    <servlet-name>trangchu</servlet-name>
    <servlet-class>controller.trangchu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trangchu</servlet-name>
    <url-pattern>/index.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangki</display-name>
    <servlet-name>dangki</servlet-name>
    <servlet-class>controller.process.dangki</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangki</servlet-name>
    <url-pattern>/dangki</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangxuat</display-name>
    <servlet-name>dangxuat</servlet-name>
    <servlet-class>controller.process.dangxuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangxuat</servlet-name>
    <url-pattern>/dangxuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangnhap</display-name>
    <servlet-name>dangnhap</servlet-name>
    <servlet-class>controller.process.dangnhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangnhap</servlet-name>
    <url-pattern>/dangnhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>timkiem</display-name>
    <servlet-name>timkiem</servlet-name>
    <servlet-class>controller.timkiem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>timkiem</servlet-name>
    <url-pattern>/timkiem</url-pattern>
  </servlet-mapping>
</web-app>